<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>M2 THYP </title>
  <script src="https://d3js.org/d3.v6.min.js"></script>

  <style>
  </style>

<body>
  <h2>Affichage des collection</h2>
  <h4>Collection : Liste des etudiant </h4>
  <div id='dataStudent'></div>

  <h2>Affichage d'un item de la collection</h2>
  <h4> Item : etudiant 1 </h4>
  <div id='dataStudents'></div>

</body>

<script>

  let urlDataStudents = "http://localhost/omeka-s/api/items?item_set_id=77";

  let urldataStudent = "http://localhost/omeka-s/api/items/64";

  d3.json(urldataStudent).then(function (data) {
    d3.select('#dataStudents').data(data).enter().append('div')
      .html(d => {
        let v = d["foaf:family_name"][0]["@value"] + " " + d["foaf:firstName"][0]["@value"]
        return v;

      })
      .on("click", function (d) {
        showStudent(d);
      });
  });


  async function read() {

    let data = await fetch("http://localhost/omeka-s/api/items?item_set_id=77")

    let dataJson = await data.json()


    let tbody = document.getElementById('dataStudents')

    tbody.innerHTML = tbody.innerHTML + `<table>
    <tr>
      <td>${"Nom : " + dataJson[0]["foaf:family_name"][0]["@value"]}</td>
    </tr>
    <tr>
      <td>${"Prénom : " + dataJson[0]["foaf:firstName"][0]["@value"]}</td>
    </tr>
    <tr>
      <td>${"Age : " + dataJson[0]["foaf:age"][0]["@value"]}</td>
      
    </tr>
    <tr>
      <td>${"Email : " + dataJson[0]["vocabulaire:voc.ttlemail"][0]["@value"]}</td>
    </tr>
      <tr>
      <td>${"numéro étuduant : " + dataJson[0]["vocabulaire:voc.ttlstudent_number"][0]["@value"]}</td>
      </tr>
    </table>`

  }
  read()



  d3.json(urlDataStudents).then(function (data) {
    d3.select('#dataStudent').selectAll('div').data(data).enter().append('div')
      .html(d => {
        let v = d["foaf:family_name"][0]["@value"] + " " + d["foaf:firstName"][0]["@value"]
        return v;
      })
      .on("click", function (d) {
        showStudent(d);
      });

  });


  function showStudent(d) {
    console.log(d);
  }
</script>

</html>